.titolo {
    color: blue;
}

.custom-body {
    padding-top: 4rem;
}

.custom-nav {
    background-color: rgb(1, 101, 144);
    color: white;
    border-radius: .5rem;
    margin: .2rem;
    min-width: 150px;
    text-align: center;
}

.custom-nav-current {
    background-color: rgb(2, 123, 73);
    color: white;
    border-radius: .5rem;
    margin: .2rem;
    min-width: 150px;
    text-align: center;
}

.custom-nav:hover {
    background-color: rgb(1, 101, 144);
    color: lightgray;
    border-radius: .5rem;
    margin: .2rem;
    min-width: 150px;
    text-align: center;
}

.custom-nav-current:hover {
    background-color: rgb(2, 123, 73);
    color: lightgray;
    border-radius: .5rem;
    margin: .2rem;
    min-width: 150px;
    text-align: center;
}

.custom-div {
    background-color: #F8F9FA;
    margin-top: 1rem;
}

p {
    text-align: justify;
    color: rgb(24, 22, 22);
}

.custom-text-r {
    text-align: right;
    margin:auto;
    font-size: large;
}

.custom-text-l {
    text-align: left;
    margin:auto;
    font-size: large;
}

.custom-ol {
    margin: auto;
}
/*
img {
    min-width: 100px;
    min-height: 100px;
    max-width: 500px;
    max-height: 500px;
}
*/
